body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  -moz-transition: -moz-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}

.snoop{
  border: 0px;
}

.dancerTransition{
  -moz-transition: -moz-transform 0.5s, left 0.5s, top 0.5s;
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, top 0.5s;
  -o-transition: -o-transform 0.5s, left 0.5s, top 0.5s;
  transition: transform 0.5s, left 0.5s, top 0.5s;
}
.dancefloor{
  height:100%;
  width:100%;
}

.grownDancer{
  -moz-transform: scale(4);
  -webkit-transform: scale(4);
  -o-transform: scale(4);
  transform: scale(4);
}